{
  "OPENAI_API_KEY": "",
  "CV2_DEBUG": true,
  "YOLO_CFG": "model/yolov4-tiny-custom.cfg",
  "YOLO_WEIGHTS": "model/yolov4-tiny-custom_last.weights",
  "YOLO_NAMES": "model/obj.names",
  "YOLO_CONFIDENCE": 0.75,
  "YOLO_NMS": 0.3,
  "YOLO_OVERLAP": 0.4,
  "YOLO_INPUT_SIZE": 416,
  "DETECTION_MIN_AREA": 75000,
  "DETECTION_STABILITY_FRAMES": 8,
  "DETECTION_MAX_MOVEMENT": 100,
  "DETECTION_SHARPNESS": 150
}