<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Retro Game Identifier</title>
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
  <h1 style="text-align: center">Retro Game Identifier</h1>
  <div id="container">
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <div id="targetBox"></div>
    <img id="capturedImage" style="display: none;" />
    <audio src="/static/sounds/shutter.wav" id="soundEffect"></audio>
  </div>
  <div id="loading">Loading game info...</div>
  <div id="gameInfo" style="text-align: center; display: none;">
    <h2>Game Info</h2>
    <pre id="gameJson"></pre>
  </div>
  <div id="warningMsg" style="display: none;"></div>
  <button id="tryAgainBtn" onclick="resetApp()">Try Again</button>
  <script src="static/javascripts/script.js"></script>
</body>
</html>